body {
    color: #c8c8c8;
    background-color: #272b30;
}
.table>thead>tr>th {
	border-top:2px solid #ddd !important;
	border-bottom:1px solid #ddd !important;
}
.table>thead>tr>th.head {
	border-top:2px solid #ddd !important;
	border-bottom:0 !important;
}
.table>thead>tr>th.sub {
	border-top:0 !important;
	border-bottom:1px solid #ddd !important;
}
.table>tbody>tr>td {
	border-top:0 !important;
}
.table>tbody>tr>td.section {
	border-top:1px solid #ddd !important;
}
.table>tbody>tr>td.last {
	border-bottom:2px solid #ddd !important;
}
.smaller {
    font-size: 85%;
}
.smallest {
    font-size: 75%;
}
.box {
	float: left;
	width: 60px;
	height: 60px;
	color: #555;
    opacity: 1;
    margin: 2px;
}
.magic {
	background-color: #fff;
}
.move {
	background-color: #eee;
}
.fight {
	background-color: #c8c8c8;
}
.pill {
	background-color: #bbb;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	padding: 1px 2px;
}
.charicon {
	font-size: 16em;
}
